/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\000033}}
a {
  color: #6e6f70;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\000036}}
a:hover, a:focus {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000311}}
.btn-default {
  border-color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000313}}
.btn-default:hover {
  border-color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000323}}
#leo-megamenu .navbar-nav li a:hover, #leo-megamenu .navbar-nav li a:focus, #leo-megamenu .navbar-nav li a:active {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000326}}
#leo-megamenu .navbar-nav li a:after {
  border-bottom: 2px solid #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000335}}
#leo-megamenu .dropdown-menu li a:hover {
  background-color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000342}}
#leo-megamenu .product-block .product-name:hover {
  color: #1ba1e2;
}

/*.btn-outline-inverse{
  @include button-variant-outline($btn-default-color, $theme-color-default, $theme-color-default, $white, $theme-color-secondary , $theme-color-secondary );
} 
.btn-outline{
  @include button-variant-outline(  $white, $theme-color-secondary , $theme-color-secondary , $btn-default-color, $theme-color-default, $theme-color-default );
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000357}}
.btn-outline {
  background-image: -webkit-linear-gradient(top, #5a5b5c 0, #414242 100%);
  background-image: linear-gradient(to bottom, #5a5b5c 0%, #414242 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5A5B5C', endColorstr='#FF414242', GradientType=0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000359}}
.btn-outline:hover {
  background-image: -webkit-linear-gradient(top, #1ba1e2 0, #1681b4 100%);
  background-image: linear-gradient(to bottom, #1ba1e2 0%, #1681b4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1BA1E2', endColorstr='#FF1681B4', GradientType=0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000363}}
.btn-inverse {
  background-image: -webkit-linear-gradient(top, #1ba1e2 0, #106087 100%);
  background-image: linear-gradient(to bottom, #1ba1e2 0%, #106087 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1BA1E2', endColorstr='#FF106087', GradientType=0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000365}}
.btn-inverse:hover {
  background-image: -webkit-linear-gradient(top, #5a5b5c 0, #282828 100%);
  background-image: linear-gradient(to bottom, #5a5b5c 0%, #282828 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5A5B5C', endColorstr='#FF282828', GradientType=0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000373}}
.sidebar .block .title_block {
  color: white;
  background: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000375}}
.sidebar .block .title_block a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000385}}
.sidebar .block .block_content .product-name:hover {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000393}}
.sidebar .block-default {
  border-color: #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003227}}
.sidebar .block-default .title_block {
  color: #333333;
  background-color: whitesmoke;
  border-color: #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003229}}
.sidebar .block-default .title_block a {
  color: #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003234}}
.sidebar .block-default .title_block + .block-collapse .block_content {
  border-top-color: #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003239}}
.sidebar .block-default > .block-footer + .block-collapse .block-body {
  border-bottom-color: #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000396}}
.sidebar .block-primary {
  border-color: #428bca;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003227}}
.sidebar .block-primary .title_block {
  color: white;
  background-color: #428bca;
  border-color: #428bca;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003229}}
.sidebar .block-primary .title_block a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003234}}
.sidebar .block-primary .title_block + .block-collapse .block_content {
  border-top-color: #428bca;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003239}}
.sidebar .block-primary > .block-footer + .block-collapse .block-body {
  border-bottom-color: #428bca;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\0000399}}
.sidebar .block-success {
  border-color: #d6e9c6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003227}}
.sidebar .block-success .title_block {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003229}}
.sidebar .block-success .title_block a {
  color: #3c763d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003234}}
.sidebar .block-success .title_block + .block-collapse .block_content {
  border-top-color: #d6e9c6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003239}}
.sidebar .block-success > .block-footer + .block-collapse .block-body {
  border-bottom-color: #d6e9c6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003102}}
.sidebar .block-info {
  border-color: #bce8f1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003227}}
.sidebar .block-info .title_block {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003229}}
.sidebar .block-info .title_block a {
  color: #31708f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003234}}
.sidebar .block-info .title_block + .block-collapse .block_content {
  border-top-color: #bce8f1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003239}}
.sidebar .block-info > .block-footer + .block-collapse .block-body {
  border-bottom-color: #bce8f1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003105}}
.sidebar .block-warning {
  border-color: #faebcc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003227}}
.sidebar .block-warning .title_block {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003229}}
.sidebar .block-warning .title_block a {
  color: #8a6d3b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003234}}
.sidebar .block-warning .title_block + .block-collapse .block_content {
  border-top-color: #faebcc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003239}}
.sidebar .block-warning > .block-footer + .block-collapse .block-body {
  border-bottom-color: #faebcc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003108}}
.sidebar .block-danger {
  border-color: #ebccd1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003227}}
.sidebar .block-danger .title_block {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003229}}
.sidebar .block-danger .title_block a {
  color: #a94442;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003234}}
.sidebar .block-danger .title_block + .block-collapse .block_content {
  border-top-color: #ebccd1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/mixins\/_theme\.scss}line{font-family:\00003239}}
.sidebar .block-danger > .block-footer + .block-collapse .block-body {
  border-bottom-color: #ebccd1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003119}}
.block_content .carousel-control {
  color: #6e6f70;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003121}}
.block_content .carousel-control:hover, .block_content .carousel-control:active, .block_content .carousel-control:focus, .block_content .carousel-control.active {
  color: #1ba1e2;
  border-color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003130}}
#topbar {
  border-bottom: none;
  background: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003133}}
#topbar .container > .inner {
  background: transparent;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003137}}
#topbar .links-outline a {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003141}}
#topbar .links a:hover {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003148}}
#topbar .topbar-box a:hover {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003155}}
#topbar .btn-group .quick-setting a {
  color: #6e6f70;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003157}}
#topbar .btn-group .quick-setting a:hover {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003165}}
#header-main {
  background: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003172}}
#header_logo a {
  background-color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003177}}
#leo-mainnav {
  background: white;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003190}}
.bannercontainer .tp-leftarrow.default::before {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003195}}
.bannercontainer .tp-rightarrow.default:before {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003200}}
.bannercontainer .tp-leftarrow.default:hover, .bannercontainer .tp-rightarrow.default:hover,
.bannercontainer .tp-leftarrow:hover, .bannercontainer .tp-rightarrow:hover {
  background: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003202}}
.bannercontainer .tp-leftarrow.default:hover:before, .bannercontainer .tp-rightarrow.default:hover:before,
.bannercontainer .tp-leftarrow:hover:before, .bannercontainer .tp-rightarrow:hover:before {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003206}}
.bannercontainer .tp-bullets.tp-thumbs .bullet:hover, .bannercontainer .tp-bullets.tp-thumbs .bullet.selected {
  border-color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003212}}
.readmore {
  background: url(img/bt_custom.png);
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003217}}
.WhiteRounded:hover {
  background-color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003225}}
.htabs li.active a, .htabs li:hover a, .htabs li:active a {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003236}}
ul.step li.step_current {
  background: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003244}}
p.payment_module a:hover {
  border-color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003251}}
.subcategories:hover {
  border-color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003262}}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003269}}
.footer-top {
  background: transparent;
  border-bottom: #2c3131;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003278}}
.footer-center {
  background: url(img/bg-footer-center.png);
  border-bottom: #2c3131;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003285}}
.footer-center .title_block {
  background-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003297}}
.footer-nav {
  background: #212525;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003308}}
.popup-over .popup-content li.selected {
  color: #1ba1e2 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003312}}
.popup-over .popup-content li a:hover {
  color: #1ba1e2 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003322}}
form#searchbox .btn {
  background: #1ba1e2;
  border-color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003331}}
#my-account ul.myaccount-link-list li a i {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003342}}
.bullet.bullet-icon li a:hover:before {
  background: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003350}}
#footer #newsletter_block_left.block .title_block {
  color: white;
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003356}}
#footer .footer-bottom p a {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003364}}
.box-services:hover h4,
.box-services:hover .iconbox {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003377}}
.block .nav-pills > li.active > a, .block .nav-pills > li.active > a:hover, .block .nav-pills > li.active > a:focus {
  background-color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003380}}
.block .nav-pills > li.active > a:before {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003392}}
.content_sortPagiBar .display .selected a {
  background-color: transparent;
  border: 1px solid transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003396}}
.content_sortPagiBar .display .selected a .fa {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003414}}
.breadcrumb {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003417}}
.breadcrumb a:hover {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003427}}
#cart h4:hover {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003433}}
#cart .heading .cart-inner > a {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003438}}
#cart .title-cart {
  background-color: #1ba1e2;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003449}}
div.verticalmenu .navbar-nav > li > a:hover, div.verticalmenu .navbar-nav > li > a:focus {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003450}}
div.verticalmenu .navbar-nav > li > a:hover .menu-title, div.verticalmenu .navbar-nav > li > a:focus .menu-title {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003459}}
div.verticalmenu .navbar-nav > li:hover > a .caret {
  border-top-color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003469}}
div.verticalmenu ul li a:hover, div.verticalmenu ul li a:focus {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003470}}
div.verticalmenu ul li a:hover .menu-title, div.verticalmenu ul li a:focus .menu-title {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003481}}
.price {
  color: #e9573f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003487}}
.product-block .name a {
  color: #212525;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003489}}
.product-block .name a:hover {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003496}}
.product-block .functional-buttons .wishlist .btn {
  border-left: 1px solid #1891cb;
  border-right: 1px solid #1891cb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003506}}
.product-block:hover .functional-buttons > div:first-child .btn {
  background-image: -webkit-linear-gradient(top, #1ba1e2 0, #1681b4 100%);
  background-image: linear-gradient(to bottom, #1ba1e2 0%, #1681b4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1BA1E2', endColorstr='#FF1681B4', GradientType=0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003517}}
.leo-megamenu {
  /* menu level 1 */
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003522}}
.leo-megamenu .navbar-nav > li > a {
  color: #212525 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003524}}
.leo-megamenu .navbar-nav > li > a:hover, .leo-megamenu .navbar-nav > li > a:focus, .leo-megamenu .navbar-nav > li > a:active {
  color: #1ba1e2 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003531}}
.leo-megamenu .navbar-nav > li:active > a {
  color: #1ba1e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003533}}
.leo-megamenu .navbar-nav > li > .caret {
  color: #212525;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003536}}
.leo-megamenu .navbar-nav > li:hover > .caret, .leo-megamenu .navbar-nav > li:active > .caret {
  color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003544}}
#off-canvas-nav .offcanvas-mainnav {
  background-color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/_skin\.scss}line{font-family:\00003547}}
#leo-megamenu .btn {
  background-color: #1ba1e2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/blue\/skin\.scss}line{font-family:\00003102}}
#topbar .btn-group {
  background: #373c3c;
  border: 1px solid #373c3c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/blue\/skin\.scss}line{font-family:\00003107}}
#leosearchtopbox {
  margin-left: 0;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/xampp\/htdocs\/prestashop\/dev\/ap_shopping\/themes\/ap_shopping\/sass\/skins\/blue\/skin\.scss}line{font-family:\00003110}}
#leosearchtopbox button, #leosearchtopbox select, #leosearchtopbox input {
  background: #f3f4f5!important;
}
