
/*  
 * LAYOUT VARIABLES 
 */

// Topbar 
$topbar-outside-bg: 				transparent !default;
$topbar-bg: 						$nocolor !default;
$topbar-color: 						#858585 !default;
$topbar-font-size: 					13px;
$topbar-height:                     30px !default;

// header main
$headermain-outside-bg :			#fff !default; 
$headermain-bg: 			 		$theme-color-default !default;
$headermain-color:					#88898e !default;

// Footer
$footer-outside-bg :				$white !default;
$footer-bg: 						$nocolor !default;
$footer-color: 						#cdcdcd !default;
$footer-heading-color: 				$white !default;